* {
    margin: 0;
    padding: 0;
}

   


.nav-container {
    display: flex;
    background-color: rgb(131, 126, 126);
    padding: 10px;
    justify-content: space-around;

}

.menu {
    list-style: none;


}
.menu-section{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
}
.background-container{
    height: 100vh;
    background-image: url(photos/background.jpg),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position:center;
    background-size: cover;
}
    /* background-repeat: no repeat;if i select a small picture then i have to use it */
    
    /* display:flex ;
    align-items: center; secondary way
    text-align: center;
} */
.banner-info{
    text-align: center;
    padding: 170px;
    color: white;
    font-size: larger;
    font-size: 50px;
}
.digital{
    color: red;
}

.btn{
    background-color: rgb(201, 45, 18);
    color: white;
    padding: 14px 38px;
    border: none;
    margin-top: 30px
}
.btn-normal{
    color: black;
    padding: 13px 38px;

}

.title-desc{
    font-size: 25px;
    padding: 5px;
}
#btn-service{
    color: black;
    padding: 13px 48px;
    border-radius: 20px;
}
.service-container{
    height: 100vh;
    background-image: url(photos/footer-bg.png);
    background-color: rgb(37, 36, 36);
    background-blend-mode: overlay;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon{
    width: 70px;
}
.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;

}
.service-desc{
    width: 50%;
}
.all-boxs{
    display: flex;
    margin-top: 5px;
    gap: 5px;
}
.author-pic{
    width: 70px;
    height: 70px;
    border-radius: 35px;

}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
   
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px red;
    padding-right: 20px;
    
}
.appointment-section{
    width: 75%;
    padding: 15px;
    background-color: rgb(245, 44, 44);
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    border-radius: 15px;
    margin-top:-80px;
    color: white;
}
.call-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 2px solid gray;
}
.appointment-logo{
    width:100px;
    padding: 15px;
}
.apointment-descript{
    padding: 10px;
    /* width: 75px; */
    text-align: justify;
/* border-right: 2px solid gray; */
}
.appointment-button{
    padding: 10px;
}
.appointment-button button{
    padding: 15px 35px;
    border-radius:25px;
    border: none;
}

.blogs-title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}
.blog-box{
    text-align: center;
    margin-top:30px;
}
.description-blog{
    font-size:22px;
    width: 50%;
    margin: auto;
}


.blog{
    width:350px;
    height: 430px;
    background:white;
    box-shadow: 4px 4px 8px gray;
    border-radius:10px;
}
.blog-img{
    width:350px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.blog-text{
    padding: 15px;
}
.blog-title{
    font-size:24px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}
.blog-description{
    font-size:18px;
    color: rgb(76, 72, 72);
    margin-top: 15px;
}
.blogs{
    margin-top: 35px;
    padding:30px;
    display: flex;
    justify-content: space-evenly ;
    align-items:center;
}















.footer-container{
    height: 100vh;
    background-image: url(photos/footer-bg.png);
    background-color: rgb(31, 29, 29);
    background-blend-mode: overlay;
    color: white;
    display: flex;
    text-align: center;
    justify-content:space-around;
   /* gap: 100px 50px ; */
   align-items: center;
   

}
.footer-section{
    list-style: none;
    gap: 20px;
    font-size: 20px;
    padding: 5px;
}
.footer-end{
    text-align: center;
    background-color: rgb(39, 38, 42);
    color: white;
    padding: 5px;
}